<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.AccessEventCompositeJsonEncoder">
            <jsonGeneratorDecorator class="de.jeha.demo.springboot.logstash.PrettyPrintingDecorator"/>
            <providers>
                <timestamp>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <version/>
                <accessMessage>
                        <fieldName>message</fieldName>
                </accessMessage>
                <method>
                    <fieldName>http_method</fieldName>
                </method>
                <protocol>
                    <fieldName>http_protocol</fieldName>
                </protocol>
                <statusCode>
                    <fieldName>http_status_code</fieldName>
                </statusCode>
                <requestedUrl>
                    <fieldName>http_requested_url</fieldName>
                </requestedUrl>
                <requestedUri>
                    <fieldName>http_requested_uri</fieldName>
                </requestedUri>
                <remoteHost>
                    <fieldName>http_remote_host</fieldName>
                </remoteHost>
                <!--
                <remoteUser>
                    <fieldName>http_remote_user</fieldName>
                </remoteUser>
                -->
                <contentLength>
                    <fieldName>http_content_length</fieldName>
                </contentLength>
                <elapsedTime>
                    <fieldName>http_elapsed_time</fieldName>
                </elapsedTime>
                <!--
                <requestHeaders>
                    <fieldName>http_request_headers</fieldName>
                </requestHeaders>
                <responseHeaders>
                    <fieldName>http_response_headers</fieldName>
                </responseHeaders>
                -->
                <pattern>
                    <pattern>
                        { "application_name": "spring-boot-demo" }
                    </pattern>
                </pattern>
                <pattern>
                    <pattern>
                        { "application_version": "${project.version}" }
                    </pattern>
                </pattern>
                <pattern>
                    <pattern>
                        { "tags": "access_log" }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>
    <appender-ref ref="CONSOLE"/>

</configuration>